body {
    background: linear-gradient(to right, rgb(74, 183, 255), rgb(12, 121, 194));
    font: normal 15pt Arial;
    font-weight: bold;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.671);
    border: 2px solid black;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

input[type='number']{
    width: 100%;
    padding: 5px;
}

#inputs {
    gap: 10px;
    align-items: center;
}

button {
    padding: 5px 10px;
    grid-column: span 3;
}

div {
    padding: 10px;
    align-items: center;
}