body {
    background: linear-gradient(to right, rgb(136, 221, 247),rgb(35, 141, 173));
    font: normal 15pt Arial;
    height: auto;
    padding-top: 100px;
}

#insert {
    box-shadow: 5px 5px 10px black;
    width: 500px;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#list {
    margin: auto;
    background-color: white;
    border-radius: 25px;
    padding-left: 20px;
    width: 500px;
    box-shadow: 5px 5px 10px black;
    max-height: 300px;
    overflow-y: auto;
}

#item {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-break: break-all;
}

#removebtn {
    background-color: white;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

#removebtn:hover {
    background-color: rgb(226, 74, 74);
}

header {
    text-align: center;
    color: white;
    font: bold 20pt arial;
    text-shadow: 1px 1px 0px black;
    padding: 10px;
}

#lançar {
    cursor: pointer;
    border: none;
    background-color: rgb(102, 208, 240);
    padding: 10px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lançar:hover {
    background-color: rgb(135, 235, 135);
}

#itemtext {
    width: 85%;
    border: none;
    padding: 10px;
    border-radius: 15px;
    outline: none;
}
