*{
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right, rgb(179, 172, 172), gray);
    font: normal 15pt arial;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculadora {
    background-color: rgb(70, 68, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 450px;
    padding: 10px;
    border-radius: 10px;
}

#visor {
    background-color: white;
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    overflow: hidden;
}

#teclado {
    display: grid;
    padding: 25px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    width: 70px;
    height: 70px;
    font-size: 20px;
    border-radius: 5px;
    background-color: lightgray;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}

button.igual{
    background-color: lightgreen;
}

button.igual:hover{
    background-color: greenyellow;
}